.client__title {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.client__list {
  display: flex;
  justify-content: space-between;
}
.client__item {
  display: flex;
}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    & .ikon-client {
      fill: var(--accent-color);
    }
  }
}

.ikon-client,
.ikon-client {
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
