.footer {
  background-color: #2f303a;
  & .link {
    display: inline-block;
    text-decoration: none;
  }
  & .container {
    display: flex;
  }
}

.footer-content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  margin-bottom: 9px;
  color: #ffffff;
  font-style: normal;
}
.footer-mail {
  margin-bottom: 9px;
}
.footer-mail,
.footer-tel {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-social-list-box {
  padding-top: 72px;
  margin-left: 70px;
  & .title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.footer-form-box {
  padding-top: 72px;
  margin-left: auto;
}
.footer-form {
  display: flex;
}
.footer-form-head {
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.footer-input {
  margin-top: 20px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    padding-left: 16px;
  }
}
.footer-form-button {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  outline: none;

  color: #ffffff;

  margin-left: 12px;
  margin-top: 20px;
  padding-right: 62px;
  padding-left: 29px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.ikon-send {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}
