.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/herobg.jpg);
  max-width: 1600px;
  height: 600px;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  width: 694px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  min-width: 200px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;

  padding: 10px 32px;

  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #188ce8;
  }
}
