.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-web {
  color: #2196f3;
}
.logo-studio {
  color: #000000;
}
.black-logo {
  margin-right: 93px;
}

.white-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.white-logo-studio {
  color: #ffffff;
}
