.modal-form {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}
.modal-form-field {
  padding-top: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  margin-top: 4px;
  padding-left: 42px;

  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline: none;
    border-color: var(--accent-color);
    & + .ikon-input {
      fill: var(--accent-color);
    }
  }
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}
.ikon-input {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-form-head {
  padding-top: 40px;
  margin-bottom: 12px;

  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.modal-form-comment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;

  resize: none;

  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-form-button {
  align-self: center;
  margin-top: 30px;

  padding: 10px 55px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  outline: none;

  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: #188ce8;
  }
}

.modal-form-checkbox-description {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
  &::before {
    margin-left: 12px;

    display: inline-block;
    content: '';
    vertical-align: middle;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 10px;
    background-size: cover;
    transition: background-image 250ms, border 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .modal-form-check:checked + & {
      background-image: url(../img/svg/check.svg);
      border: none;
    }
  }
}

.modal-form-checkbox-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: #2196f3;
}
